/* 
====================
	MAIN HEADER STYLES
====================
*/

.site-header {
    flex: none;
    min-height: 70px;
    padding: 10px 0;
    height: 52px;
    width: 100%;
    position: fixed;
    background-color: $white;
    z-index: 99;
    box-shadow: 0 0 5px #888888;

    @include mq($mq-medium) {
        min-height: 88px;
        padding: 18px 0;
    }

    .logo {
        svg {
            width: 150px;
            height: 50px;
            @include mq($mq-medium) {
                width: 202px;
                height: 45px;
            }
        }
    }

    .mobile-nav-active & {
        .logo {
            position: absolute;
            z-index: 1001;
            top: 14px;
        }
    }
}