.home-router {
  background-color: $secondary-color;

  h2,
  h3,
  p {
    color: $white;
  }

  h2 {
    margin-bottom: rem-calc(30);
    @include mq($mq-medium) {
      margin-bottom: rem-calc(60);
    }
  }

  h3 {
    font-weight: $font-weight-semibold;
    margin-bottom: 0;
  }


  .router-items {
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq(460px) {
      display: flex;
    }
  }

  .the-item {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    padding: 10px;
    @include mq(460px) {
      width: 50%;
    }
    @include mq($mq-wpadmin) {
      padding: 0;
      width: 25%;
    }
    &:last-of-type {
      p {
        margin-bottom: 0;
      }
    }

    a {
      &:hover {
        svg {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .small-circle {
    display: none;
    @include mq(450px) {
      display: block;
      position: absolute;
      top: -14px;
      left: 0;
      right: 0;
    }
    @include mq($mq-medium) {
      top: -24px;

    }

    svg {
      fill: $white;
      opacity: 0;
      visibility: hidden;
      @extend %transition;
    }
  }

  .content-wrap {
    margin: 0 auto;
   // max-width: 210px; use this with 4 items
    max-width: 245px;
    line-height: 1.3;
  }
}
