.stay-updated {
  margin-top: $column-gutter;
  text-align: center;
  @include mq($mq-medium) {
    margin-top: 0;
  }

  p {
    font-style: italic;
  }

  .fine-print {
    font-size: rem-calc(14);
  }
}


.contact-newsletter {

  .mailing-list {
    margin-top: $column-gutter;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin: $half-gutter;
      border-bottom-color: $primary-color;
      width: 100%;
      color: $primary-color;
      max-width: 100%;
      &::-webkit-input-placeholder {
        color: $primary-color;
      }
      &:focus {
        border-bottom: 2px solid $primary-color;
      }
      @include mq($mq-medium) {
        max-width: 65%;
      }
    }
  }

  .button-wrap {
    text-align: center;
    margin-top: $half-gutter;
    @include mq($mq-medium) {
      margin-top: $column-gutter;
    }
  }

  .button {
    background-color: $primary-color;
    color: $white;
    margin-bottom: 0;
  }

  .newsletter-content {
    text-align: center;
  }

  .callout {
    color: $primary-color;
  }
}